<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugu.blog.comments.dao.CommentMapper">

    <resultMap id="BaseResultMap" type="com.mugu.blog.comments.common.model.po.Comment" >
        <result column="id" property="id" />
        <result column="content" property="content" />
        <result column="pid" property="pid" />
        <result column="nick_name" property="nickName" />
        <result column="email" property="email" />
        <result column="article_id" property="articleId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="comment_id" property="commentId" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                content,
                pid,
                nick_name,
                email,
                article_id,
                create_time,
                update_time,
                status,
                reply_name,
                comment_id
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.mugu.blog.comments.common.model.po.Comment">
        INSERT INTO comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != content and '' != content">
                content,
            </if>
            <if test="null != pid">
                pid,
            </if>
            <if test="null != commentId and '' != commentId">
                comment_id,
            </if>
            <if test="null != nickName and '' != nickName">
                nick_name,
            </if>
            <if test="null != email and '' != email">
                email,
            </if>

            <if test="null != replyName and '' != replyName">
                reply_name,
            </if>

            <if test="null != articleId">
                article_id,
            </if>
            <if test="null != createTime">
                create_time,
            </if>
            <if test="null != updateTime">
                update_time,
            </if>
            <if test="null != status">
                status
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != content and '' != content">
                #{content},
            </if>
            <if test="null != pid">
                #{pid},
            </if>
            <if test="null != commentId and '' != commentId">
                #{commentId},
            </if>
            <if test="null != nickName and '' != nickName">
                #{nickName},
            </if>
            <if test="null != email and '' != email">
                #{email},
            </if>

            <if test="null != replyName and '' != replyName">
                #{replyName},
            </if>

            <if test="null != articleId">
                #{articleId},
            </if>
            <if test="null != createTime">
                #{createTime},
            </if>
            <if test="null != updateTime">
                #{updateTime},
            </if>
            <if test="null != status">
                #{status}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM comment
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.mugu.blog.comments.common.model.po.Comment">
        UPDATE comment
        <set>
            <if test="null != content and '' != content">content = #{content},</if>
            <if test="null != pid">pid = #{pid},</if>
            <if test="null != nickName and '' != nickName">nick_name = #{nickName},</if>
            <if test="null != email and '' != email">email = #{email},</if>
            <if test="null != articleId">article_id = #{articleId},</if>
            <if test="null != createTime">create_time = #{createTime},</if>
            <if test="null != updateTime">update_time = #{updateTime},</if>
            <if test="null != status">status = #{status}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM comment
        WHERE comment_id = #{commentId} and status=1
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM `comment` where  article_id=#{articleId} and status=1 order by id asc
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM comment
    </select>

    <select id="totalComment" resultType="java.lang.Long">
        SELECT count(id)
        FROM `comment`
        <where>
            <!--获取某篇文章的总数-->
            <if test="articleId!=null">
                article_id=#{articleId}
            </if>

            <!--获取全部评论总数，过滤掉留言-->
            <if test="articleId==null">
                and article_id is not null
            </if>
            and status=1
        </where>
    </select>

    <select id="pageMsgList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM `comment` where  article_id is null and status=1 order by id asc
    </select>

    <select id="totalMsg" resultType="java.lang.Long">
        SELECT count(id)
        FROM `comment` where status=1 and article_id is null
    </select>

</mapper>