<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link href="../../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

  <!--导航栏-->
  <nav class="ui inverted gird-header" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
        <a href="blogs.html" class="active m-item item m-mobile-hide"><i class="home icon"></i>文章管理</a>
        <a href="types.html" class=" m-item item m-mobile-hide"><i class="clone outline icon"></i>分类管理</a>
        <a href="friendlinks.html" class=" m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链管理</a>
        <a href="pictures.html" class=" m-item item m-mobile-hide"><i class="image icon"></i>相册管理</a>
        <div class="right m-item m-mobile-hide menu">
          <div class="ui dropdown  item">
            <div class="text">
              <img class="ui avatar image" src="../../static/images/me.jpg" th:src="@{/images/me.jpg}">
              <span>码猿技术专栏</span>
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" onclick="logout()" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="m-padded-tb-hugex">
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="blogs-input.html" class=" item">发布</a>
        <a href="blogs.html" class="teal active item">列表</a>
      </div>
    </div>
  </div>
  </div>

  <br>
  <br>
  <br>

  <!--中间内容-->
  <div  class="">
    <div class="ui container">
      <div  class="ui secondary segment form">
        <input type="hidden" name="page" >
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" placeholder="标题" id="title">
          </div>
          <div class="field">
            <div class="ui labeled action input">
              <div class="ui type selection dropdown">
                <input type="hidden" name="typeId">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu" id="menu">
<!--                  <div class="item" data-value="1">我的故事</div>-->
                </div>
              </div>
              <button id="clear-btn" class="ui compact button">clear</button>
            </div>

          </div>
          <!--<div class="field">-->
            <!--<div class="ui checkbox">-->
              <!--<input type="checkbox" id="recommend" name="recommend">-->
              <!--<label for="recommend">推荐</label>-->
            <!--</div>-->
          <!--</div>-->
          <div class="field">
            <button  type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
      <div id="table-container">
        <table class="ui compact teal table">
          <thead>
          <tr align="center">
            <th>ID</th>
            <th>标题</th>
            <th>类型</th>
            <th>推荐</th>
            <th>状态</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="article">
          </tbody>
          <tfoot id="next">
          </tfoot>
        </table>

        <div class="ui success message" hidden="true" id="msg">
          <i class="close icon"></i>
          <div class="">提示：操作成功！</div>
        </div>

      </div>

    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!--底部栏-->
  <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" id="footer">
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../../static/js/admin/js/blogs.js"></script>
  <script src="../../static/js/front/js/footer.js"></script>
  <script src="../../static/js/admin/js/nav.js"></script>

</body>
</html>